extends layout

block header
  .intro
    .pilots
      h1 Become a seller of the largest European DIY Marketplace
      h2 Colibri helps you reach out to more than 10 million customers in France, Italy, Spain, Germany and the UK
      if pilot && pilot.stripeAccountId
        a.button.primary(href='/pilots/dashboard') View dashboard
      else
        a.button.primary(href='/pilots/signup') Become a seller

block content
  .features
    section.schedule
      h3 Daily Payouts
      p Colibri can send you daily payouts to improve your cashflow. 
    section.earnings
      h3 Become international
      p Easily sell in multiple countries. Receive your money on the same bank account. 
    section.app
      h3 Accounting and Reconciliation
      p Reports and information to help you reconcile your sales and track your revenue. 

block footer
  .annotation.landing
    a.stripe(href='https://stripe.com') Stripe
    p Colibri is a demo for #[a(href='https://stripe.com/connect') Stripe Connect] and #[a(href='https://stripe.com/connect/express') Express]. Sergio is just testing. 
    a.github.arrow(href='https://github.com/lordserch/stripe-connect-rocketrides') View on GitHub
